<script class="" type="text/template" id="templates/dialogs/connection-page.html">
    <div class="dialog-wrapper">
      <h3 class="dialog-head">
        Piskel Collorboration
        <span class="dialog-close">X</span>
      </h3>
      <div class="dialog-content">
        <p>This version of Piskel has been modified to allow multiple people edit files at the same time</p>
        <p>If you do not want to sync with others, select "Do Not sync". If you want to collorborate select "Sync"</p>
        <p>This will require an active server. Full documentation how to set this up at (link)</p>
       
      </div>
    </div>
  </script>